[user]
	name = Gabe Schwartz
	email = gabe@shekel.ai
[core]
	excludesfile = /Users/gabe/.gitignore_global
[difftool "sourcetree"]
	cmd = /usr/local/bin/code --diff --wait -n \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/code -n --wait \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/gabe/.stCommitMsg
[url "ssh://git@bitbucket.org/"]
	insteadOf = git@bitbucket.org:
[url "https://"]
	insteadOf = git@bitbucket.org:
